body {
    background-color: rgb(31, 31, 34);
    color: rgb(193, 193, 193);
    font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

:root{
    --whiteblue: rgb(50, 50, 60);
    --blackblue: rgb(31, 31, 34);

    --pastewhite: rgb(40, 40, 44);
    --pasteblack: rgb(33, 33, 37);
}

#logo {
    font-size: 1px;
    white-space: pre;
    color: rgb(255, 255, 255);
    font-weight: 20;
    text-align: center;
    user-select: none;
    line-height:1px;
    user-select: none;
}

.page{
    display: inline;
    
    background-color: var(--whiteblue);
    padding: 10px;
}

.page:nth-of-type(2n){
    background-color: var(--blackblue);
}


.count {
    background-color: var(--pasteblack);
    padding: 5px;
}
.count:nth-of-type(2n){
    background-color: var(--pastewhite);
}

.addp{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  background-color: var(--blackblue);
  border-bottom: solid 1px var(--whiteblue);
}

button{
    color: white;
    background-color: var(--whiteblue);
    height: 50px;
    width: 70px;
    border: none;
}
button:hover {
    background-color: #2fa5f4;
}
button:active{
    background-color: #1b3f57;
    transform: scale(0.95);
}

div{
    margin: auto;
    padding: 10px;
    text-align: center;
}

a {
    color: rgb(140, 160, 178);
}

.pas{
    width: 50%;
    background-color: var(--pastewhite);
    display: flex;
    font-size: 11px;
    flex-direction: column;
    text-align: center;
    border-bottom: solid 1px rgb(80, 80, 90);
}

.pas:nth-of-type(2n){
    background-color: var(--pasteblack);
}



.inputs{
    border: none;
    background-color: rgb(40, 40, 44);
    border-radius: 2px;
    color: white;
    width: 90%;
    white-space: pre-wrap;
}

.finded {
    background-color: rgb(60, 60, 70);
}

.pastes{
    padding: 10px;
    text-align: left;
}

.code {
    display: flex;
    background-color: rgb(31, 31, 34);
    border: solid 1px rgb(188, 200, 188);
    padding: 1rem;
    gap: 2rem; 
}

@media (max-width: 800px) {
    body {
        margin: 0; /* Убираем отступы браузера */
        padding: 0;
    }
    button{
        margin: 30px;
        padding: 30px;
    }
    textarea {
        width: 80%;
        box-sizing: border-box
    }
    .pas {
        width: 100vw; /* Или width: 100vw; для ширины окна просмотра */
    }
    .topic{
        width: 50%;
        box-sizing: border-box;
    }
}

#create{
    text-align:left;
    margin: 40px;
}