{{define "attr"}}
    <div>
        <textarea placeholder="Title" id="title" class="inputs" maxlength="128" style="resize:none;" rows="2" cols="70" required></textarea>
    </div>
    <div>
        <textarea placeholder="Content" id="content" class="inputs" maxlength="65536" style="resize:none;" rows="40" cols="70" required></textarea>
    </div>
    <div>
        <textarea placeholder="Username of Creator..." id="author" class="inputs" maxlength="128" style="resize:none;" rows="2" cols="70" required></textarea>            
    </div>
    <div>
        <button onclick="FetchData(1, true)">Create Paste</button>
    </div>
    <script src="/static/attr.js"></script>
{{end}}