<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>
        {{if .data.Name.Text}}
            {{Escape .data.Name.Text}}
        {{else}}
            Pastebin.txt
        {{end}}
    </title>
<body>
</head>
    <div style="font-size: 14px;">
        {{if not .data.Logo.Hide}}
            <h6 id="logo" style="color: rgb({{RGB2String .data.Logo.Color}}); font-size:{{.data.Logo.Size}}px; line-height: .6;">{{Escape .logo}}</h6>
            {{if .data.Name}}
                <h1 style="text-align: center;">
                    [{{Escape .data.Name.Text}}]
                </h1>
            {{end}}
        {{else}}
            <h1 style="text-align: center; font-size: {{.data.Name.Size}}px;">
                {{Escape .data.Name.Text}}
            </h1>
        {{end}}

        {{if and (eq .data.Description.Hide false) (.data.Description.Text)}}
			{{if and (gt .data.Description.Size 0) (lt .data.Description.Size 101) }}
                <div>
                	{{range .data.Description.Text}}
            	        <h4 style="font-size: {{$.data.Description.Size}}px;">{{Escape .}}</h4>
        	        {{end}}</div>
			{{end}}
        {{end}}


        {{if .data.CreatorsGithub}}
            <h3>
                <a href='https://github.com/{{.data.CreatorsGithub}}'>Created By {{Escape .data.CreatorsGithub}} :3</a>
            </h3>
        {{end}}

        {{template "search"}}
    </div>
    <div style="background-color: rgb(70, 70, 80);">
        {{if not .data.PasteDiv.Hide }}    
                <h2>🠋  [Create Paste Here]  🠋</h2>    
                {{template "attr"}}
        {{end}}
        {{if .topics }}
            <div>
                {{if not .data.PasteDiv.Hide }}
                    <h1>[PASTE'S TOPICS]</h1>
                {{end}}    
                {{range .topics}}
                    <div style="padding: 10px;" class="topic">
                        <a href="/topic/{{.ID}}">/{{.Name}}</a> - <strong style="font-size:18px;">{{.PostCount}} pastes</strong>
                        <div>
                            <small style="color:rgb(188, 188, 188);"><a href="/topic/{{.ID}}">{{.Description}}</a></small>
                        </div>
                    </div>
                {{else}}
                    No topics exist yet :(
                {{end}}
            </div>
        {{end}}
    </div>
</body>
</html>
