<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paste №{{.ID}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div style="text-align: left;"> 
        ID:{{.paste.ID}}
        <strong>{{.paste.Title}}</strong>
        [Created At: {{ formatDate .paste.CreatedAt }}]


        Created By: {{CutString .paste.Author 100}}
        <div style="text-align: left;">
            {{range $i, $v := .content}}
                <pre style="line-height:0.2;">{{$v}}</pre>
            {{end}}
        </div>

        <button onclick="copyText(document.getElementById('content').textContent)">Copy</button>
    </div>
    <script> 
        async function copyText(text) {
            try {
                await navigator.clipboard.writeText(text);
                console.log('Text copied!');
            } catch (err) {
                console.error('Copy error: ', err);
            }
        }
    </script>
</body>
</html>
