<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paste №{{.ID}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="text-align: left; background-color: rgb(70, 70, 80);">
    <div> 
        <div>

            ID:{{.ID}}
            <strong>{{.Title}}</strong>
            [Created At: {{ formatDate .CreatedAt }}]
            <div>
            Created By: {{CutString .Author 100}}
            </div>
        </div>
    
        <pre style="font-size: 15px;">{{.Content}}</pre>
        
        <button onclick="copyText(document.getElementById('content').textContent)">Copy</button>
    </div>
    <script> 
        async function copyText(text) {
            try {
                await navigator.clipboard.writeText(text);
                console.log('Text copied!');
            } catch (err) {
                console.error('Copy error: ', err);
            }
        }
    </script>
</body>
</html>
