<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paste №{{.ID}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div style="text-align: left;"> 
        ID:{{.ID}}
        <strong>{{.Title}}</strong>
        [Created At: {{ formatDate .CreatedAt }}]

        Created By: {{CutString .Author 100}}
        
        <pre style="font-size: 15px;">{{.Content}}</pre>
        
        <button onclick="copyText(document.getElementById('content').textContent)">Copy</button>
    </div>
    <script> 
        async function copyText(text) {
            try {
                await navigator.clipboard.writeText(text);
                console.log('Text copied!');
            } catch (err) {
                console.error('Copy error: ', err);
            }
        }
    </script>
</body>
</html>
