<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        {{template "search"}}
    </div>
    <div>
        <div>
            [PASTES FINDED BY KEYWORD]
        </div>
        {{if .pastes}}
            {{range .pastes}}
                <div class="pas">
                    ID {{.ID}}: <a href="/paste/{{.ID}}">{{.Title}}</a>
                </div>
            {{end}}
        {{else}}
            <strong>Not Found</strong>
        {{end}}
    </div>
        <div>
        <h2>
            <a href="/search?keyword={{.keyword}}&page={{.preid}}" class="page">{{.preid}}</a>
        </h2>
        <h2>
            <a href="/search?keyword={{.keyword}}&page={{.nextid}}" class="page">{{.nextid}}</a>
        </h2>
    </div>
</body>
</html>