<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        {{template "search"}}
    </div>
    <div>
        <div>
            [PASTES FINDED BY NAME]
        </div>
        {{if .pastes}}
            {{range .pastes}}
                <div class="finded">
                    ID {{.ID}}: <a href="/paste/{{.ID}}">{{.Title}}</a>
                </div>
            {{end}}
        {{else}}
            <strong>Not Found</strong>
        {{end}}
    </div>
</body>
</html>