<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Topic.</title>
</head>
<body style="background-color: rgb(70, 70, 80); text-align: center;">    
    <h1>[CREATE PASTE]</h1>
    <div>
        <textarea placeholder="Title" id="title" class="inputs" maxlength="128" style="resize:none;" rows="2" cols="70" required></textarea>
    </div>
    <div>
        <textarea placeholder="Content" id="content" class="inputs" maxlength="65536" style="resize:none;" rows="40" cols="70" required></textarea>
    </div>
    <div>
        <textarea placeholder="Username of Creator..." id="author" class="inputs" maxlength="128" style="resize:none;" rows="2" cols="70" required></textarea>            
    </div>
    <div>
        <button onclick="FetchData(1, true)">Create Paste</button>
    </div>
    <h2>
        [[/{{.topic.Name}}]]
    </h2>

    {{if .temp }}
        [ALL PASTES ARE DELETED AFTER {{.temp}}]
    {{else}}
        [PASTES]
    {{end}}
    {{range .pastes}}
        <div style="text-align: left;">
            ID:{{.ID}}
            <a href="/paste/{{.ID}}" class="links">{{CutString .Title 100}}</a>
            <small class="authors">[By {{CutString .Author 70}}]</small>
            {{if .IsTitled}}
                (Pinned)
            {{end}}
            {{if DestroySpaces (CutString .Content 150) }}
                <pre style="background-color: rgba(130, 140, 150, 0.363);">{{CutString .Content 150}}</pre>
            {{else}}
                <strong>...</strong>
            {{end}}
        </div>
    {{else}}
        <div> 
            No pastes have been made :(
        </div>
    {{end}}
    <script src="/static/attr.js"></script>
</body>
</html>
